.score {
    color: #FF0050;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 720px;
    background-image: url(/src/images/wall.png);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.panel {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.life {
    height: 40px;
    margin: 10px;
}

.square {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 1.5px solid #ffffff;
    background-image: url(/src/images/window.png);
    background-size: cover;
}

.enemy {
    background-image: url(/src/images/ralph.png);
    background-size: cover;
}

.menu-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-score h3:nth-child(2),
.menu-score h3:nth-child(2){
    margin-inline: 10px;
}

.foot {
    background-image: url(/src/images/street.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* min-width: 720px; */
    min-height: 140px;
    padding: 20px;
    color: #ffffff;
}

.foot-text{
    margin-bottom: 10px;
}

.dev {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon{
    width: 24px;
    margin-inline-end: 10px;
}

.icon-text{
    margin-inline-end: 10px ;
}

a{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    font-size: 10px;
    color: #FFFFFF;
}

.creditos{
    font-size: 8px;
    color: #FFFFFF;
    margin-top: 15px;
}